@mixin h1 {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

@mixin h2 {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

@mixin h3 {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

@mixin h4 {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

@mixin p {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
